*{
 margin: 0px;
 padding: 0px;
}
#container{
 	width: 970px;
 	height: 1029px;
	background-color: #f6f6f6;
}
#headline{
    height: 60px;
    width: auto;
    margin: 10px;
    display: inline-block;
    color: black;
}
#name{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 25px;
	display: inline-block;
	text-align: left;
}
#slogan{
	margin-right: 40px;
	float: right;
	padding-top: 15px;
	display: inline-block;
	text-align: right;
}
#mainbody{
	width: auto;
	height: 900px;
	background-color: #6f5964;
	background: linear-gradient(#6f5964, #4f3b43)
}
#introduction{
	width: auto;
	height: 275px;
	vertical-align: right;
	margin-bottom: 25px;
}
#frame{
	width: 410px;
	height: 275px;
	display: inline-block;
	background-color: #c0c0c0;
	margin-left: 25px;
	margin-top: 20px;
	border: 5px;
	background-image: url("portfolio_images/photo_of_me.jpg");
	background-size: contain;
}
#about{
	width: 480px;
	height: 275px;
	margin-left: 25px;
	margin-top: 20px;
	background-color: #efe9ef;
	display: inline-block;
	vertical-align: top;
}
.backtitle{
	background: linear-gradient(#B3B2B6, #878593, #B3B2B6);
	padding-top: 10px;
	padding-left: 10px;
	width: auto;
	height: 40px;
	color: white;
	text-align: left;
}
.textmod{
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	font-family: "Times New Roman";
	font-size: 12px;
}
#abouttext{

}
#mainbody{

}
.extrainfo{
	width: 290px;
	height: 550px;
	margin-left: 18px;
	margin-top: 20px;
	background-color: #efe9ef;
	display: inline-block;
	vertical-align: top;
}
.button{
	padding-top: 5px;
	margin-left: 30%;
	margin-right: 30%;
	width: auto;
	height: 25px;
	border-color: black;
	color: white;
	border: 1px;
	border-radius: 10px;
	background-color: #407d61;
	font-size: 15px;
	text-align: center;
}
#leftpan{

}
#centerpan{

}
#rightpan{

}
#contact{
	height: 70px;
	width: 970px;
	margin: 10px;
    display: inline-block;
    color: black;
    text-align: center;
}



